<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMPRESAS</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
   <header class="header">
        <div class="logo">
        <a href="../index.html"><img class="logo" src="../image/netdata1.png" alt="Logo de la marca"></a>
        </div>       
        <nav class="navegacion">
            <ul>
                <li class="navegacion__lista">
                    <a class="navegacion__enlace" href="../views/hogares.html">HOGARES</a>
                </li>
                <li class="navegacion__lista">
                    <a class="navegacion__enlace" href="../views/empresas.html">EMPRESAS</a>
                </li>
                <li class="navegacion__lista">
                    <a class="navegacion__enlace" href="../views/nosotros.html">NOSOTROS</a>
                </li>
                <li class="navegacion__lista">
                    <a class="navegacion__enlace" href="../views/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <img src="../image/articulo-cloud.jpeg" alt="imagen descriptiva de servicios para empresas">
            </div>
        </section>
        <section class="empresas">
            <div>
                <h2 class="empresas__titulo">
                    SERVICIOS EN LA NUBE
                </h2>
                <p class="empresas__parrafo">
                    HOUSING CO-UBICACIÓN. SOLUCIONES PANDA BACKUP. WEB HOSTING. MAIL CORPORATIVO MS EXCHANGE. SERVIDORES VIRTUALES. SERVIDORES DEDICADOS.
                </p>
            </div>
            <div>
                <h2 class="empresas__titulo">
                    INTERNET
                </h2>
                <p class="empresas__parrafo">
                    ACCESO A INTERNET F.O, FTTH, ADSL E INALÁMBRICO (P2P). ACCESOS SIMÉTRICOS CON TASAS DE DATOS GARANTIZADA (DEDICADOS). ACCESOS DE ALTA PERFORMANCE (DINÁMICOS) ASIMÉTRICOS CON IP FIJA.
                </p>
            </div>
            <div>
                <h2 class="empresas__titulo">
                    COMUNICACIONES DE VOZ
                </h2>
                <p class="empresas__parrafo">
                    TELEFONÍA DIGITAL IP; TRAMAS E1 CON NUMERACIÓN 30/30, 30/50 Y 30/100. TRAMA DIGITAL IP 15 Y 30 CANALES. CUADROS TARIFARIOS ESPECIALES PARA GRANDES VOLÚMENES DE COMUNICACIÓN.
                </p>
            </div>
            <div>
                <h2 class="empresas__titulo">
                    TRANSMISIÓN DE DATOS
                </h2>
                <p class="empresas__parrafo">
                    ACCESO A DATOS F.O, FTTH, ADSL E INALÁMBRICO (P2P). ENLACES L2 PUNTO A PUNTO Y MULTIPUNTO. TASAS DE DATOS GARANTIZADAS HASTA 100 MBPS / 1 GBPS. CONECTIVIDAD A REDES MPLS NACIONALES.
                </p>
            </div>
        </section>
    </main>
    <footer id="footer" class="footer">
        <div>
            <img class="footer__logo" src="../image/netdata1.png" alt="logo de la marca">
        </div>
        <div class="footer__redes">
            <a class="footer__iconos" href="https://www.instagram.com"><span class="iconify" data-icon="ant-design:instagram-outlined"></span></a>
            <a class="footer__iconos" href="https://twitter.com/"><span class="iconify" data-icon="jam:twitter-circle"></span></a>
            <a class="footer__iconos" href="https://whatsapp.com/"><span class="iconify" data-icon="ri:whatsapp-line"></span></a>
            <a class="footer__icon" href="mailto:contacto@netdata.com"><span class="iconify" data-icon="ci:mail"></span></a>
        </div>
    </footer>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    
</body>
</html>