<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOSOTROS</title>
    <!-- <link rel="stylesheet" href="../css/index.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/translated.css">
</head>
<body>
   <header class="header">
        <div class="logo">
        <a href="../index.html"><img class="logo" src="../image/netdata1.png" alt="Logo de la marca"></a>
        </div>       
        <nav class="navegacion">
            <ul>
                <li class="navegacion__lista">
                    <a class="navegacion__enlace" href="../views/hogares.html">HOGARES</a>
                </li>
                <li class="navegacion__lista">
                    <a class="navegacion__enlace" href="../views/empresas.html">EMPRESAS</a>
                </li>
                <li class="navegacion__lista">
                    <a class="navegacion__enlace" href="../views/nosotros.html">NOSOTROS</a>
                </li>
                <li class="navegacion__lista">
                    <a class="navegacion__enlace" href="../views/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="nosotros">
            <div>
                <img class="nosotros__1" src="../image/nosotros_1.jpg" alt="">
            </div>
            <div>
                <img class="nosotros__2" src="../image/nosotros2.webp" alt="">
            </div>
            <div>
                <img class="nosotros__3" src="../image/soporte.jpg" alt="">
            </div>
            <div>
                <img src="../image/iStock-963131214.jpg" alt="" class="nosotros__4">
            </div>
            <div>
                <img src="../image/speed-test.webp" alt="" class="nosotros__5">
            </div>
            <div class="nosotros__texto">
                <h3 class="nosotros__titulo">EL EQUIPO DE NetData</h3>
                <p class="nosotros__parrafo">
                    NetDAta es una empresa local que viene creciendo en servicios y clientes en la región, desde hace 14 años. En el año 2012, fue pionera con el desarrollo de la primera red de fibra óptica en el litoral y, a partir del 2015, se expandió fuera de Santa Fe para conectar nuevas localidades con una extensa red de Fibra que llega hasta provincias limítrofes como Chaco y Entre Rios.    
                    Desde Sunchales, Capital Nacional del Cooperativismo proyecta y apuesta al futuro de la región, brindando conectividad de última generación con velocidades de 20, 50 ,100 y 200 Mb para facilitar las actividades cotidianas de la población.
                    La crisis sanitaria impuso grandes desafíos, como ampliar el soporte de atención al cliente con nuevos canales para brindar pronta respuesta a la necesidad de clientes particulares, como asi también a nuestros clientes corporativos. Además, la empresa está trabajando en la mejora continua de sus procesos para optimizar la calidad integral de su gestión.
                    NetData agradece muy especialmente a la gente que le abrió las puertas de sus hogares y a las empresas que confiaron en ella. NetData, la fibra que nos conecta.  
                </p>
            </div>
        </section>
    </main>
    <footer id="footer" class="footer">
        <div>
            <img class="footer__logo" src="../image/netdata1.png" alt="logo de la marca">
        </div>
        <div class="footer__redes">
            <a class="footer__iconos" href="https://www.instagram.com"><span class="iconify" data-icon="ant-design:instagram-outlined"></span></a>
            <a class="footer__iconos" href="https://twitter.com/"><span class="iconify" data-icon="jam:twitter-circle"></span></a>
            <a class="footer__iconos" href="https://whatsapp.com/"><span class="iconify" data-icon="ri:whatsapp-line"></span></a>
            <a class="footer__icon" href="mailto:contacto@netdata.com"><span class="iconify" data-icon="ci:mail"></span></a>
        </div>
    </footer>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    
    
</body>
</html>