.navbar  {
    background-color: $color-terciario;
    .navbar-dark {
        background-color: $color-terciario;
    
        .bg-dark{
            background-color: $color-terciario;
        }
    }
}
