.navbar{
    background-color: $color-primario;
}
.nav-link  {
    color: $color-terciario;
    font-family: $fuente-titulo;
    &:hover {
        color: $color-secundario;
        border-radius: 5px;
    }
}
.navbar-brand {
    color: $color-terciario;
    font-family: $fuente-titulo;
    font-size: 3rem;
    font-style: italic;
    &:hover{
        color: $color-secundario;
    }
}
.custom-toggler .navbar-toggler-icon{
    color: $color-secundario;
}