.contacto__titulo {
    color: map-get($map: $colores, $key:primario );
    font: $fuente-titulo;
    padding: 0.5rem;
    text-align: center;
}
.contacto__recuadro {
    background-color: $color-secundario;
}
.contacto__formulario {
    margin-left: 1rem;
    @include fuente-principal;
    // color: $color-primario;
    // font-weight: bold;
    font-family: $fuente-texto;
}
.contacto__contenedor {
    padding: 00.5rem;
}
.contacto__btn {
    margin-left: 10rem;
    padding: 0.5rem;
    background-color: $color-primario;
    color: $color-secundario;
    font-weight: bold;
    font-family: $fuente-titulo;
}
