.contacto__titulo {
    // color: $color-primario;
    // font: $fuente-titulo;
 

.contacto__recuadro {
    background-color: #F2F4F3;
     
.contacto__formulario {
    margin-left: 1rem;
    color: #EB07A5;
    font-weight: bold;
    font-family: 'lato', sans-serif;

.contacto__contenedor {
    padding: 00.5rem;

.contacto__btn {
    margin-left: 10rem;
    padding: 0.5rem;
    background-color: #EB07A5;
    color: #F2F4F3;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
                }
            }
        }
    }   
}
