$color-primario: #EB07A5;
$color-secundario: #F2F4F3;
$color-terciario: #050404;
$fuente-titulo: 'Roboto', sans-serif;
$fuente-texto: 'lato', sans-serif;
$colores: (
    primario: #EB07A5,
    secundario: #F2F4F3,
    alternativo: #050404,
);